acres==0.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.9.0
apturl==0.5.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.11.1
asttokens==3.0.0
async-lru==2.0.5
async-timeout==4.0.3
attrs==25.3.0
babel==2.17.0
bcrypt==3.2.0
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.8.2
Brlapi==0.8.3
cachetools==5.5.2
certifi==2020.6.20
cffi==2.1.1
chardet==4.0.0
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.7
colorama==0.4.4
comm==0.2.2
command-not-found==0.3
configobj==5.0.9
configparser==7.2.0
contourpy==1.3.1
cryptography==50.0.0
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.18
debugpy==1.8.13
decorator==5.2.1
defer==1.0.6
defusedxml==0.7.1
distro==1.7.0
distro-info==1.1+ubuntu0.1
Django==5.2.14
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
duplicity==0.8.21
et_xmlfile==2.0.0
etelemetry==0.3.1
exceptiongroup==1.2.2
executing==2.2.0
faiss-cpu==1.15.0
fastapi==0.122.0
fasteners==0.14.1
fastjsonschema==2.21.1
filelock==3.19.1
filetype==1.2.0
fitz==0.0.1.dev2
Flask==3.0.3
flask-cors==6.0.1
fonttools==4.56.0
fqdn==1.5.1
future==0.18.2
google-ai-generativelanguage==0.7.0
google-api-core==2.25.1
google-auth==2.56.3
google-genai==2.22.0
googleapis-common-protos==1.70.0
greenlet==3.2.4
grpcio==1.75.0
grpcio-status==1.75.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.20.2
httpx==0.28.1
idna==3.3
imbalanced-learn==0.13.0
imblearn==0.0
importlib-metadata==4.6.4
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==8.34.0
ipywidgets==8.1.5
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.4
jiter==0.10.0
joblib==1.4.2
json5==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kagglehub==0.3.10
keyring==23.5.0
kiwisolver==1.4.8
langchain==0.3.27
langchain-core==0.3.76
langchain-google-genai==2.1.12
langchain-text-splitters==0.3.9
langsmith==0.4.17
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
load-dotenv==0.1.0
lockfile==0.12.2
looseversion==1.3.0
louis==3.20.0
lxml==6.0.1
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.1.5
matplotlib==3.10.1
matplotlib-inline==0.1.7
mistune==3.1.2
monotonic==1.6
more-itertools==8.10.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
nibabel==5.3.2
nipype==1.10.0
notebook==7.3.3
notebook_shim==0.2.4
numpy==2.2.4
nvidia-nccl-cu12==2.31.2
oauthlib==3.2.0
olefile==0.46
openai==1.101.0
openpyxl==3.1.5
orjson==3.11.2
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
paramiko==2.9.3
parso==0.8.4
pathlib==1.0.1
pexpect==4.8.0
Pillow==9.0.1
platformdirs==4.3.6
prometheus_client==0.21.1
prompt_toolkit==3.0.50
proto-plus==1.26.1
protobuf==6.32.1
prov==2.1.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.30
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.20.1
pycparser==2.22
pycups==2.0.1
pydantic==2.13.4
pydantic_core==2.46.4
pydot==4.0.1
Pygments==2.19.1
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyMuPDF==1.26.4
PyNaCl==1.5.0
pyparsing==3.2.4
pyRFC3339==1.1
pythin==0.1.0
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-docx==1.2.0
python-dotenv==1.1.1
python-json-logger==3.3.0
pytz==2022.1
pyxdg==0.27
pyxnat==1.6.3
PyYAML==5.4.1
pyzmq==26.3.0
rdflib==7.2.1
referencing==0.36.2
reportlab==3.6.8
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.23.1
rsa==4.9.1
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
SecretStorage==3.3.1
Send2Trash==1.8.3
sib-api-v3-sdk==7.6.0
simplejson==3.20.1
six==1.16.0
sklearn-compat==0.1.3
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.43
sqlparse==0.4.2
stack-data==0.6.3
starlette==0.50.0
systemd-python==234
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tomli==2.2.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2025.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
uri-template==1.3.0
urllib3==1.26.5
usb-creator==0.3.7
uvicorn==0.15.0
wadllib==1.3.6
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==16.1.1
Werkzeug==3.0.3
widgetsnbextension==4.0.13
wordcloud==1.9.4
wsproto==1.0.0
xdg==5
xgboost==3.2.0
xkit==0.0.0
zipp==1.0.0
zstandard==0.24.0
